psycopg2-binary
django==5.0.1
django-cockroachdb==5.0
psycopg2-binary
django==5.0.1
django-cockroachdb==5.0
rest_framework =3.14.0
corsheaders =3.14.0
cloudinary
cloudinary_storage
npm install react-toastify
axios