psycopg2-binary
django==5.0.1
django-cockroachdb==5.0
psycopg2-binary
django==5.0.1
django-cockroachdb==5.0
rest_framework =3.14.0
corsheaders =3.14.0
cloudinary
django-cloudinary-storage==0.3.0
npm install react-toastify
axios