/* HideAssets.module.css */
.footerIcon {
  font-size: 24px;
  color: white;
}
.pageWrapper {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  height: auto;           /* Full viewport height */
  background-color: white;  /* Optional: Set background color for better visibility */
}
.button {
  background: linear-gradient(90deg, #007bff9f, #800080);
  font-family: Arial, Helvetica, sans-serif;
  width: 70%;
}
