.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #000;
  color: #fff;
  margin: 0 auto;
  max-width: 428px;
  margin: 0 auto;
  height: auto;
  min-height: 100vh ;
  padding:5px;
}


.mainContent {
  margin-top: 1px;
  margin-bottom: 1px;
  color: white;
}

.passwordField {
  margin-bottom: 2rem;
}

.checkboxLabel {
  color: white;
  font-size: 0.8rem;
  margin-bottom: 3rem;
}

.text{
  background-color: gray;
}
.FormControlLabel{
  margin-bottom: 5rem;
}

.button {
  background: linear-gradient(90deg, #007bff9f, #800080);
  font-family: Arial, Helvetica, sans-serif;
}
.pageWrapper {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  height: auto;           /* Full viewport height */
  background-color: white;  /* Optional: Set background color for better visibility */
}
