.container {
    background-color: black;
    color: white;
    padding: 20px;
    height: 550px;
    border-radius: 10px;
    max-width: 320px;
    margin: auto;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.backButton {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* h1 {
    margin: 0;
    font-size: 24px;
} */

.search {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    border: none;
    background-color: black;
}

.connectionList {
    margin-bottom: 20px;
}

.connectionItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #222;
    border-radius: 5px;
    margin-bottom: 10px;
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.menuButton {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.disconnectButton {
    width: 100%;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
