/* pages/ManageProfile.module.css */
.menu {
    background-color: #000;
    color: #fff;
    width: 350px;
    padding: 20px;
    border-radius: 8px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    
    
  }
  
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .header h2 {
    flex: 1;
    margin: 0;
  }
  
  .backArrow {
    font-size: 24px;
    cursor: pointer;
    color: white; /* Set the arrow color to white */
    margin-right: 16px; /* Add some spacing between the arrow and the title */
    
  }
  
  .nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navItem {
    margin: 10px 0;
  }
  
  .navItem a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .arrow {
    color: #7d7d7d;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }
  
  .footerItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  .footerItem span {
    font-size: 12px;
  }
  
  .active {
    color: #1a73e8;
  }
  